@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/robotomono.woff2') format('woff2');
}

body {
  font-family: 'Roboto', sans-serif;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
}
